.button {
    border-radius: 10px;
    font-size: 12px;
   width: 100px;
   border: 1px solid black;
   padding: 5px;
   cursor: pointer;
}
.button:hover {
background-color: aqua;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}